/* .App {
  background-color: linen;
  height: 2000px;
} */

.home-head {
  display: flex;
  background-image: url('./2ChocolateChipCookies.jpeg');
  height: 50vh;
  width: 100%;
  background-size: 50vh;
  justify-content: center;
  align-items: center;
}

